.link-item {
  text-decoration: none;
}
.list-item {
  list-style-type: none;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  padding: 28px;
  background-color: #202020;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .list-item {
    width: 100%;
    max-width: 562px;
  }
}
.company-logo-container {
  display: flex;
  align-items: center;
}
.company-logo {
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .company-logo {
    height: 50px;
    width: 50px;
  }
}
.designation-container {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.designation {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .designation {
    margin-bottom: 10px;
    font-size: 26px;
  }
}
.rating-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
  padding: 0px;
}
.star-icon {
  color: #fbbf24;
  height: 25px;
  width: 25px;
}
.rating {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
}
@media screen and (max-width: 767px) {
  .rating {
    font-size: 22px;
  }
}
.other-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #cbd5e1;
}
.company-other-container {
  display: flex;
  align-items: center;
}
.location-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
@media screen and (max-width: 767px) {
  .location-container {
    margin-right: 15px;
  }
}
.job-feature-icon {
  color: #f8fafc;
  height: 28px;
  width: 28px;
}
@media screen and (max-width: 767px) {
  .job-feature-icon {
    height: 18px;
    width: 18px;
  }
}
.label-text {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 400;
  color: #f8fafc;
  margin-left: 15px;
}
.package {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .label-text {
    font-size: 18px;
    margin-left: 12px;
  }
  .package {
    font-size: 18px;
  }
}
.description-heading {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0px;
}
.description {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: #f1f5f9;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .designation-heading {
    font-size: 24px;
  }
  .designation {
    font-size: 16px;
  }
}
