.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
.home-details-container {
  width: 90%;
  max-width: 500px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .home-details-container {
    width: 50%;
    max-width: 600px;
    align-self: flex-start;
    margin-top: 38px;
    margin-left: 30px;
    padding-left: 20px;
  }
}
.home-heading {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #f8fafc;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 58px;
  }
  .description {
    font-size: 26px;
  }
}
.find-jobs-button {
  height: 45px;
  width: 120px;
  background-color: #6366f1;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
}
@media screen and (min-width: 768px) {
  .find-jobs-button {
    width: 150px;
    font-size: 22px;
  }
}
